/*-- scss:defaults --*/

#quarto-header>nav>div>div.navbar-brand-container.mx-auto>a>span,
#listing-listing>div.list.quarto-listing-default>div>div.body>h3>a,
#title-block-header>div.quarto-title-banner.page-columns.page-full>div>h1,
#title-block-header>.quarto-title>.title,
.quarto-listing-category-title {
  font-family: Newsreader, serif;
}

.note-with-text {
  display: grid;
  gap: 20px;

  // Mobile first - single column
  grid-template-columns: 1fr;

  // Desktop - two columns
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  .text {
    font-size: 20px;
    padding-left: 1.5rem;
  }
}
